body {
    font-family: 'Architects Daughter', cursive;
    font-size: 200%;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 200%;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
